/node_modules/
**/node_modules/

/venv
**/venv/
**/.venv/
**/__pycache__/

/dist/
.env
# Added by code-review-graph
.code-review-graph/

# Override global ignore for template addon files
!plugins/*/template/addons/claude-code/.claude/
!plugins/*/template/addons/claude-code/.claude/**
